SchemaDatabase/SGr/Generic/BaseTypes.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Copyright (c) 2023, SmartGridready, Switzerland. All rights reserved. Source
https://github.com/SmartgridReady/SGrSpecifications  -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:sgr="http://www.smartgridready.com/ns/V0/"
  attributeFormDefault="unqualified" elementFormDefault="qualified"
  targetNamespace="http://www.smartgridready.com/ns/V0/" version="0.2.2">

  <include schemaLocation="BaseType_FunctionalProfileCategory.xsd" />
  <include schemaLocation="BaseType_FunctionalProfileType.xsd" />
  <include schemaLocation="BaseType_LevelOfOperationType.xsd" />

  <complexType name="ReleaseNotes">
    <annotation>
      <documentation> Contains versioning, history and release states</documentation>
    </annotation>
    <sequence>
      <element name="state" type="sgr:ReleaseState" />
      <element name="remarks" type="string" minOccurs="0" />
      <element name="changeLog" type="sgr:ChangeLog" maxOccurs="unbounded" minOccurs="0" />
    </sequence>
  </complexType>
  <simpleType name="ReleaseState">
    <annotation>
      <documentation>release state of this XML</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="Draft" />
      <enumeration value="Review" />
      <enumeration value="Published" />
      <enumeration value="Revoked" />
    </restriction>
  </simpleType>
  <complexType name="ChangeLog">
    <annotation>
      <documentation>document history</documentation>
    </annotation>
    <sequence>
      <element name="version" type="string" />
      <element name="date" type="date" />
      <element name="author" type="string" />
      <element name="comment" type="string" />
    </sequence>
  </complexType>
  <simpleType name="SpecificationOwnerIdentification">
    <annotation>
      <documentation> This number identifies the organisation that owns the specification. 0 is
        reserved for SmartGridready specifications, any other company will receive a number by the
        SmartGridready Deklarationsstelle. </documentation>
    </annotation>
    <restriction base="string" />
  </simpleType>
  <simpleType name="PrecisionPercent">
    <annotation>
      <documentation> Precision defines the accuracy of a data point either related to a measurement
        value, a simulation result or of a setpoint value </documentation>
    </annotation>
    <restriction base="decimal">
      <minInclusive value="0.001" />
      <maxInclusive value="15" />
    </restriction>
  </simpleType>
  <complexType name="AlternativeNames">
    <annotation>
      <documentation> a name list for EEBUS, IEC6850,, SAREF4ENER etc. Used to support onology
        naming.</documentation>
    </annotation>
    <sequence>
      <element name="workName" type="string" minOccurs="0">
        <annotation>
          <documentation>work name for temporary use</documentation>
        </annotation>
      </element>
      <element name="manufName" type="string" minOccurs="0">
        <annotation>
          <documentation>manufacturers may use an internal wording</documentation>
        </annotation>
      </element>
      <element name="iec61850Name" type="string" minOccurs="0">
        <annotation>
          <documentation>IEC 61850 termonoligy place to add the 61850 abreviatuions</documentation>
        </annotation>
      </element>
      <element name="sarefName" type="string" minOccurs="0">
        <annotation>
          <documentation> SAREF for ENER termonoligy place to add the SAREF abreviations
            (https://saref.etsi.org) </documentation>
        </annotation>
      </element>
      <element name="eebusName" type="string" minOccurs="0">
        <annotation>
          <documentation> EEBUS for terminology place to add the EEBUS abreviations</documentation>
        </annotation>
      </element>
      <element name="sunSpecName" type="string" minOccurs="0">
        <annotation>
          <documentation> sSUNSPEC for terminology place to add the www.sunspec.org abreviations</documentation>
        </annotation>
      </element>
      <element name="hpBwpName" type="string" minOccurs="0">
        <annotation>
          <documentation> bwp (German Heat Pump Association) for terminology place to add the bwp
            naming for HVAC</documentation>
        </annotation>
      </element>
      <element name="en17609Name" type="string" minOccurs="0">
        <annotation>
          <documentation>EN17609 terminology place to add the EU17609 abbreviations</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  
  <complexType name="FunctionalProfileIdentification">
    <annotation>
      <documentation> Specification of design source 0 means: specified by SmartGridready, the
        Porfilenumber follows the SmargGirdready scheme &gt;0 means: specfied by manufacturer hhhh,
        the Profilenumber followos a manufacturors scheme </documentation>
    </annotation>
    <sequence>
      <element name="specificationOwnerIdentification" type="sgr:SpecificationOwnerIdentification" />
      <element name="functionalProfileCategory" type="sgr:FunctionalProfileCategory">
        <annotation>
          <documentation>The Profile Identfication identiofis the main profile classes. The
            enumeration text is also documented with numbers being referenced in the profile number
            hhhh.nnnn.uuuu.ss.VV.vv as nnnn </documentation>
        </annotation>
      </element>
      <element name="functionalProfileType" type="sgr:FunctionalProfileType" />
      <element name="levelOfOperation" type="sgr:LevelOfOperation">
        <annotation>
          <documentation> levelOfOperation defines a controls complexity level m) for read-only
            monitoring dat points level 1) single contact 2) 2 or more contacts /state controlled
            interface 3) statical defined characteristics tables 4) dynamic realtime control
            combined with statical defined characteristics tables 5) dynamic realtime control
            combined with dynamic changeable characteristics tables 6) prognosis based systems </documentation>
        </annotation>
      </element>
      <element name="versionNumber" type="sgr:VersionNumber" />
    </sequence>
  </complexType>

  <!-- help construct to support definition of types valid for the code generator -->
  <complexType name="EmptyType">
    <sequence />
  </complexType>

  <!-- the basic data based used für the generic level of a communicator -->
  <complexType name="DataType">
    <annotation>
      <documentation>Generic high-ldevel data types. Impelemntations of this XSD map these types
        into native data types in their programming language (java, python, golang, ...)</documentation>
    </annotation>
    <choice>
      <element name="boolean" type="sgr:EmptyType" />
      <element name="int8" type="sgr:EmptyType" />
      <element name="int16" type="sgr:EmptyType" />
      <element name="int32" type="sgr:EmptyType" />
      <element name="int64" type="sgr:EmptyType" />
      <element name="int8U" type="sgr:EmptyType" />
      <element name="int16U" type="sgr:EmptyType" />
      <element name="int32U" type="sgr:EmptyType" />
      <element name="int64U" type="sgr:EmptyType" />
      <element name="float32" type="sgr:EmptyType" />
      <element name="float64" type="sgr:EmptyType" />
      <element name="dateTime" type="sgr:EmptyType" />
      <element name="string" type="sgr:EmptyType" />
      <element name="enum" type="sgr:EnumListType" />
      <element name="enum2bitmapIndex" type="sgr:BitmapperListType">
        <annotation>
          <documentation> bitmap for Registers (typical: Status Bits). For to be visible as generic
            boolean array or unsigned integer mapped in parallel towards one data single point
            definition. Depending on the TransportService, this requires specialized sw coding. </documentation>
        </annotation>
      </element>
    </choice>
  </complexType>


  <!-- enumeration to select mandatory, optional or recommended use of elements -->
  <simpleType name="PresenceLevel">
    <annotation>
      <documentation>Indicates wheter the element is mandatory (M), recommended (R, at least one of
        the R elements mus be present), or optional (O, can be ommitted)</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="M" />
      <enumeration value="R" />
      <enumeration value="O" />
    </restriction>
  </simpleType>
  <!-- enumeration to select data direction (Read Write) and persistent storage 
		use of elements -->
  <simpleType name="DataDirection">
    <annotation>
      <documentation>Read/write direction with read (R), write (W), read-write (RW), read-write with
        persistent storage (RWP)</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="R" />
      <enumeration value="W" />
      <enumeration value="RW" />
      <enumeration value="RWP" />
    </restriction>
  </simpleType>
  <!-- create a new title as separator in between type definitions -->
  <complexType name="LegibleDescription">
    <annotation>
      <documentation> This element us used to extend the definitions with legible text elements: a
        short understandbale explanation of the items addressed. These elements are used for printed
        and published information </documentation>
    </annotation>
    <sequence>
      <element name="textElement">
        <annotation>
          <documentation>information to be published</documentation>
        </annotation>
        <simpleType>
          <restriction base="string">
            <minLength value="0" />
            <maxLength value="4000" />
          </restriction>
        </simpleType>
      </element>
      <element name="language" type="sgr:Language">
        <annotation>
          <documentation>language identifier de, en, fr, it</documentation>
        </annotation>
      </element>
      <element name="uri" type="anyURI" minOccurs="0">
        <annotation>
          <documentation>optional URI pointong towards additional information</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="Language">
    <annotation>
      <documentation>this is the identification of the language for information to be published. So
        far en, de, fr and it is possible </documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="de" />
      <enumeration value="en" />
      <enumeration value="fr" />
      <enumeration value="it" />
    </restriction>
  </simpleType>
  <complexType name="VersionNumber">
    <annotation>
      <documentation>a three digit version mumber system.</documentation>
    </annotation>
    <sequence>
      <element name="primaryVersionNumber" type="int" />
      <element name="secondaryVersionNumber" type="int" />
      <element name="subReleaseVersionNumber" type="int" />
    </sequence>
  </complexType>
  <simpleType name="DeviceCategory">
    <annotation>
      <documentation>Device Category is inherited from EEBUS, a growing list of supported Devices</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="Battery" />
      <enumeration value="Compressor" />
      <enumeration value="DeviceInformation" />
      <enumeration value="DHWCircuit" />
      <enumeration value="DHWStorage" />
      <enumeration value="Dishwasher" />
      <enumeration value="Dryer" />
      <enumeration value="ElectricalImmersionHeater" />
      <enumeration value="Fan" />
      <enumeration value="GasHeatingAppliance" />
      <enumeration value="Generic" />
      <enumeration value="HeatingBufferStorage" />
      <enumeration value="HeatingCircuit" />
      <enumeration value="HeatingObject" />
      <enumeration value="HeatingZone" />
      <enumeration value="HeatPumpAppliance" />
      <enumeration value="HeatSinkCircuit" />
      <enumeration value="HeatSourceCircuit" />
      <enumeration value="HeatSourceUnit" />
      <enumeration value="HVACController" />
      <enumeration value="HVACRoom" />
      <enumeration value="InstantDHWHeater" />
      <enumeration value="Inverter" />
      <enumeration value="OilHeatingAppliance" />
      <enumeration value="Pump" />
      <enumeration value="RefrigerantCircuit" />
      <enumeration value="SmartEnergyAppliance" />
      <enumeration value="SolarDHWStorage" />
      <enumeration value="SolarThermalCircuit" />
      <enumeration value="SubMeterElectricity" />
      <enumeration value="TemperatureSensor" />
      <enumeration value="Washer" />
      <enumeration value="BatterySystem" />
      <enumeration value="ElectricityGenerationSystem" />
      <enumeration value="ElectricityStorageSystem" />
      <enumeration value="SGCP">
        <annotation>
          <documentation>EEBUS: GridConnectionPointOfPremises</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Household" />
      <enumeration value="PVSystem" />
      <enumeration value="EV" />
      <enumeration value="EVSE" />
      <enumeration value="ChargingStation">
        <annotation>
          <documentation>EEBUS: ChargingOutlet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="CEM" />
    </restriction>
  </simpleType>
  <simpleType name="Units">
    <restriction base="string">
      <enumeration value="AMPERE_SQUARE_METERS" />
      <enumeration value="AMPERES" />
      <enumeration value="AMPERES_PER_METER" />
      <enumeration value="AMPERES_PER_SQUARE_METER" />
      <enumeration value="BARS" />
      <enumeration value="BTUS" />
      <enumeration value="BTUS_PER_HOUR" />
      <enumeration value="BTUS_PER_POUND" />
      <enumeration value="BTUS_PER_POUND_DRY_AIR" />
      <enumeration value="CANDELAS" />
      <enumeration value="CANDELAS_PER_SQUARE_METER" />
      <enumeration value="CENTIMETERS" />
      <enumeration value="CENTIMETERS_OF_MERCURY" />
      <enumeration value="CENTIMETERS_OF_WATER" />
      <enumeration value="CUBIC_FEET" />
      <enumeration value="CUBIC_FEET_PER_MINUTE" />
      <enumeration value="CUBIC_FEET_PER_SECOND" />
      <enumeration value="CUBIC_METERS" />
      <enumeration value="CUBIC_METERS_PER_HOUR" />
      <enumeration value="CUBIC_METERS_PER_MINUTE" />
      <enumeration value="CUBIC_METERS_PER_SECOND" />
      <enumeration value="CURRENCY1" />
      <enumeration value="CURRENCY10" />
      <enumeration value="CURRENCY2" />
      <enumeration value="CURRENCY3" />
      <enumeration value="CURRENCY4" />
      <enumeration value="CURRENCY5" />
      <enumeration value="CURRENCY6" />
      <enumeration value="CURRENCY7" />
      <enumeration value="CURRENCY8" />
      <enumeration value="CURRENCY9" />
      <enumeration value="CYCLES_PER_HOUR" />
      <enumeration value="CYCLES_PER_MINUTE" />
      <enumeration value="DAYS" />
      <enumeration value="DEGREE_DAYS_CELSIUS" />
      <enumeration value="DEGREE_DAYS_FAHRENHEIT" />
      <enumeration value="DEGREES_ANGULAR" />
      <enumeration value="DEGREES_CELSIUS" />
      <enumeration value="DEGREES_CELSIUS_PER_HOUR" />
      <enumeration value="DEGREES_CELSIUS_PER_MINUTE" />
      <enumeration value="DEGREES_FAHRENHEIT" />
      <enumeration value="DEGREES_FAHRENHEIT_PER_HOUR" />
      <enumeration value="DEGREES_FAHRENHEIT_PER_MINUTE" />
      <enumeration value="DEGREES_KELVIN" />
      <enumeration value="DEGREES_KELVIN_PER_HOUR" />
      <enumeration value="DEGREES_KELVIN_PER_MINUTE" />
      <enumeration value="DEGREES_PHASE" />
      <enumeration value="DELTA_DEGREES_FAHRENHEIT" />
      <enumeration value="DELTA_DEGREES_KELVIN" />
      <enumeration value="FARADS" />
      <enumeration value="FEET" />
      <enumeration value="FEET_PER_MINUTE" />
      <enumeration value="FEET_PER_SECOND" />
      <enumeration value="FOOT_CANDLES" />
      <enumeration value="GIGAJOULES" />
      <enumeration value="GRAMS_OF_WATER_PER_KILOGRAM_DRY_AIR" />
      <enumeration value="GRAMS_PER_MINUTE" />
      <enumeration value="GRAMS_PER_SECOND" />
      <enumeration value="HECTOPASCALS" />
      <enumeration value="HENRYS" />
      <enumeration value="HERTZ" />
      <enumeration value="HORSEPOWER" />
      <enumeration value="HOURS" />
      <enumeration value="HUNDREDTHS_SECONDS" />
      <enumeration value="IMPERIAL_GALLONS" />
      <enumeration value="IMPERIAL_GALLONS_PER_MINUTE" />
      <enumeration value="INCHES" />
      <enumeration value="INCHES_OF_MERCURY" />
      <enumeration value="INCHES_OF_WATER" />
      <enumeration value="JOULE_SECONDS" />
      <enumeration value="JOULES" />
      <enumeration value="JOULES_PER_DEGREE_KELVIN" />
      <enumeration value="JOULES_PER_KILOGRAM_DEGREE_KELVIN" />
      <enumeration value="JOULES_PER_KILOGRAM_DRY_AIR" />
      <enumeration value="KILO_BTUS" />
      <enumeration value="KILO_BTUS_PER_HOUR" />
      <enumeration value="KILOGRAMS" />
      <enumeration value="KILOGRAMS_PER_CUBIC_METER" />
      <enumeration value="KILOGRAMS_PER_HOUR" />
      <enumeration value="KILOGRAMS_PER_MINUTE" />
      <enumeration value="KILOGRAMS_PER_SECOND" />
      <enumeration value="KILOHERTZ" />
      <enumeration value="KILOOHMS" />
      <enumeration value="KILOJOULES" />
      <enumeration value="KILOJOULES_PER_DEGREE_KELVIN" />
      <enumeration value="KILOJOULES_PER_KILOGRAM" />
      <enumeration value="KILOJOULES_PER_KILOGRAM_DRY_AIR" />
      <enumeration value="KILOMETERS_PER_HOUR" />
      <enumeration value="KILOPASCALS" />
      <enumeration value="KILOVOLT_AMPERES" />
      <enumeration value="KILOVOLT_AMPERE_HOURS" />
      <enumeration value="KILOVOLT_AMPERES_REACTIVE" />
      <enumeration value="KILOVOLT_AMPERES_REACTIVE_HOURS" />
      <enumeration value="KILOVOLTS" />
      <enumeration value="KILOWATT_HOURS" />
      <enumeration value="KILOWATTS" />
      <enumeration value="KW_HOURS_PER_SQUARE_FOOT" />
      <enumeration value="KW_HOURS_PER_SQUARE_METER" />
      <enumeration value="LITERS" />
      <enumeration value="LITERS_PER_HOUR" />
      <enumeration value="LITERS_PER_MINUTE" />
      <enumeration value="LITERS_PER_SECOND" />
      <enumeration value="LUMENS" />
      <enumeration value="LUXES" />
      <enumeration value="MEGA_BTUS" />
      <enumeration value="MEGAHERTZ" />
      <enumeration value="MEGAJOULES" />
      <enumeration value="MEGAJOULES_PER_DEGREE_KELVIN" />
      <enumeration value="MEGAJOULES_PER_KILOGRAM_DRY_AIR" />
      <enumeration value="MEGAJOULES_PER_SQUARE_FOOT" />
      <enumeration value="MEGAJOULES_PER_SQUARE_METER" />
      <enumeration value="MEGAVOLT_AMPERES" />
      <enumeration value="MEGAVOLT_AMPERES_REACTIVE" />
      <enumeration value="MEGAVOLTS" />
      <enumeration value="MEGAWATT_HOURS" />
      <enumeration value="MEGAWATTS" />
      <enumeration value="MEGOHMS" />
      <enumeration value="METERS" />
      <enumeration value="METERS_PER_HOUR" />
      <enumeration value="METERS_PER_MINUTE" />
      <enumeration value="METERS_PER_SECOND" />
      <enumeration value="METERS_PER_SECOND_PER_SECOND" />
      <enumeration value="MILES_PER_HOUR" />
      <enumeration value="MILLIAMPERES" />
      <enumeration value="MILLIBARS" />
      <enumeration value="MILLIMETERS" />
      <enumeration value="MILLIMETERS_OF_MERCURY" />
      <enumeration value="MILLIMETERS_PER_MINUTE" />
      <enumeration value="MILLIMETERS_PER_SECOND" />
      <enumeration value="MILLIOHMS" />
      <enumeration value="MILLISECONDS" />
      <enumeration value="MILLIVOLTS" />
      <enumeration value="MILLIWATTS" />
      <enumeration value="MINUTES" />
      <enumeration value="MONTHS" />
      <enumeration value="NEWTON" />
      <enumeration value="NEWTON_METERS" />
      <enumeration value="NEWTON_SECONDS" />
      <enumeration value="NEWTONS_PER_METER" />
      <enumeration value="NO_UNITS" />
      <enumeration value="OHM_METERS" />
      <enumeration value="OHMS" />
      <enumeration value="PARTS_PER_BILLION" />
      <enumeration value="PARTS_PER_MILLION" />
      <enumeration value="PASCALS" />
      <enumeration value="PER_HOUR" />
      <enumeration value="PER_MINUTE" />
      <enumeration value="PER_SECOND" />
      <enumeration value="PERCENT" />
      <enumeration value="PERCENT_OBSCURATION_PER_FOOT" />
      <enumeration value="PERCENT_OBSCURATION_PER_METER" />
      <enumeration value="PERCENT_PER_SECOND" />
      <enumeration value="PERCENT_RELATIVE_HUMIDITY" />
      <enumeration value="POUNDS_FORCE_PER_SQUARE_INCH" />
      <enumeration value="POUNDS_MASS" />
      <enumeration value="POUNDS_MASS_PER_HOUR" />
      <enumeration value="POUNDS_MASS_PER_MINUTE" />
      <enumeration value="POUNDS_MASS_PER_SECOND" />
      <enumeration value="POWER_FACTOR" />
      <enumeration value="PSI_PER_DEGREE_FAHRENHEIT" />
      <enumeration value="RADIANS" />
      <enumeration value="RADIANS_PER_SECOND" />
      <enumeration value="REVOLUTIONS_PER_MINUTE" />
      <enumeration value="SECONDS" />
      <enumeration value="SIEMENS" />
      <enumeration value="SIEMENS_PER_METER" />
      <enumeration value="SQUARE_CENTIMETERS" />
      <enumeration value="SQUARE_FEET" />
      <enumeration value="SQUARE_INCHES" />
      <enumeration value="SQUARE_METERS" />
      <enumeration value="SQUARE_METERS_PER_NEWTON" />
      <enumeration value="TESLAS" />
      <enumeration value="THERMS" />
      <enumeration value="TON_HOURS" />
      <enumeration value="TONS" />
      <enumeration value="TONS_PER_HOUR" />
      <enumeration value="TONS_REFRIGERATION" />
      <enumeration value="US_GALLONS" />
      <enumeration value="US_GALLONS_PER_MINUTE" />
      <enumeration value="VOLT_AMPERES" />
      <enumeration value="VOLT_AMPERES_REACTIVE" />
      <enumeration value="VOLTS" />
      <enumeration value="VOLTS_PER_DEGREE_KELVIN" />
      <enumeration value="VOLTS_PER_METER" />
      <enumeration value="WATT_HOURS" />
      <enumeration value="WATTS" />
      <enumeration value="WATTS_PER_METER_PER_DEGREE_KELVIN" />
      <enumeration value="WATTS_PER_SQUARE_FOOT" />
      <enumeration value="WATTS_PER_SQUARE_METER" />
      <enumeration value="WATTS_PER_SQUARE_METER_DEGREE_KELVIN" />
      <enumeration value="WEBERS" />
      <enumeration value="WEEKS" />
      <enumeration value="YEARS" />
      <enumeration value="NONE" />
    </restriction>
  </simpleType>
  <complexType name="ScalingFactor">
    <annotation>
      <documentation>scaled_value = value * multiplicator * 10^powerof10 This type is used for to
        convert intereger datapoint values into floats only </documentation>
    </annotation>
    <sequence>
      <element name="multiplicator" type="int" />
      <element name="powerof10" type="int" />
    </sequence>
  </complexType>
  <simpleType name="TransportService">
    <restriction base="string">
      <enumeration value="EEBUS" />
      <enumeration value="Modbus" />
      <enumeration value="OCPP1.6" />
      <enumeration value="OCPP2.01" />
      <enumeration value="RESTfulJSON" />
      <enumeration value="Contacts" />
      <enumeration value="WoT" />
      <enumeration value="proprietary" />
      <enumeration value="generic" />
    </restriction>
  </simpleType>

  <!--  generic Attribute Definitions  -->
  <complexType name="GenericAttributes">
    <annotation>
      <documentation>these attributes are defined for the generic interface for the application
        programmer. An attribute can be aligned to either a device, a functional Profile or a
        datapoint </documentation>
    </annotation>
    <all>
      <element name="maxVal" type="decimal" minOccurs="0">
        <annotation>
          <documentation> upper range limit. Unit:inherited</documentation>
        </annotation>
      </element>
      <element name="minVal" type="decimal" minOccurs="0">
        <annotation>
          <documentation> lower range limit. Unit:inherited</documentation>
        </annotation>
      </element>
      <element name="specialQualityRequirement" type="string" minOccurs="0">
        <annotation>
          <documentation>indicates quality requirements fullfilled like formal certifications</documentation>
        </annotation>
      </element>
      <element name="precisionPercent" type="sgr:PrecisionPercent" minOccurs="0">
        <annotation>
          <documentation> the precisionPercent of a measurement, calculation result or result of a
            controls process </documentation>
        </annotation>
      </element>
      <element name="stabilityFallback" type="sgr:StabilityFallback" minOccurs="0">
        <annotation>
          <documentation> A consumer or a generating system receives the permit for a load change
            for a certain period of time. This time is always set to 0 each time a confirmation
            message is received (HeartBeat). </documentation>
        </annotation>
      </element>
      <element name="smoothTransition" type="sgr:SmoothTransition" minOccurs="0">
        <annotation>
          <documentation> The time behavior of a transition from a power adjustment (positive as
            well as negative) can be determined by several time values, so that this starts with a
            random time delay, changes via a ramp and an expiry time with return to the initial
            value. </documentation>
        </annotation>
      </element>
      <element name="maxLatencyTimeMs" type="unsignedLong" minOccurs="0">
        <annotation>
          <documentation> Maximum time in milliseconds from capturing of measured value until ready
            at the external interface (i.e. analog-digital conversion time) </documentation>
        </annotation>
      </element>
      <element name="measuredValueType" type="sgr:MeasuredValueType" minOccurs="0">
        <annotation>
          <documentation> MeasValueType: type of measurement. Possbile values are "value", "min",
            max", "average", "stdDev" </documentation>
        </annotation>
      </element>
      <element name="measuredValueSource" type="sgr:MeasuredValueSource" minOccurs="0">
        <annotation>
          <documentation> Value source kind related to SGr level 6 applications. Potential values
            are measuredValue, calculatedValue, empiricalValue </documentation>
        </annotation>
      </element>
      <element name="sampleRateHz" type="unsignedLong" minOccurs="0">
        <annotation>
          <documentation> SampleRate in Hertz</documentation>
        </annotation>
      </element>
      <!-- TODO: describe generic attributes -->
      <element name="curtailment" type="double" minOccurs="0" />
      <element name="minLoad" type="double" minOccurs="0" />
      <element name="maxLockTimeMinutes" type="float" minOccurs="0" />
      <element name="minRunTimeMinutes" type="float" minOccurs="0" />
      <element name="valueByTimeTableMinutes" type="float" minOccurs="0" />
      <element name="flexAssistance" type="sgr:FlexAssistance" minOccurs="0">
        <annotation>
          <documentation> Systems with more than One communicator need a definition of the priority
            of the commands / demands for a flexibility requirement. This element defines the kind
            of a such a command (servicable for net (DSO), energy or system (TNO)) and its priority
            (SHALL / SHOULD / MAY) </documentation>
        </annotation>
      </element>
      <element name="unitConversionMultiplicator" type="float" minOccurs="0" />
    </all>
  </complexType>
  <complexType name="StabilityFallback">
    <annotation>
      <documentation> A consumer or a generating system receives the permit for a load change for a
        certain period of time. This time is always set to 0 each time a confirmation message is
        received (HeartBeat). </documentation>
    </annotation>
    <sequence>
      <element name="maxReceiveTime" type="float">
        <annotation>
          <documentation> Time in seconds. If the device does not recieve any communication within
            this specified time the device automatically initiates the fallback. 0 indicates no
            fallback will be performed. </documentation>
        </annotation>
      </element>
      <element name="initValue" type="decimal">
        <annotation>
          <documentation>Value of the reference variable at the start of the process cycle. Unit:
            inherited </documentation>
        </annotation>
      </element>
      <element name="fallbackValue" type="decimal">
        <annotation>
          <documentation>Value of the reference variable in the event of a communication failure .
            Unit:inherited </documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="SmoothTransition">
    <annotation>
      <documentation> The time behavior of a transition from a power adjustment (positive as well as
        negative) can be determined by several time values, so that this starts with a random time
        delay, changes via a ramp and an expiry time with return to the initial value. </documentation>
    </annotation>
    <sequence>
      <element name="winTms" type="unsignedLong" minOccurs="0">
        <annotation>
          <documentation>indicates a time window in seconds in which the new operating mode is
            started randomly. The time window begins with the start command of the operating mode.
            The value 0 means immediate </documentation>
        </annotation>
      </element>
      <element name="rvrtTms" type="unsignedLong" minOccurs="0">
        <annotation>
          <documentation> determines how long the operating mode should be active in seconds. When
            the time has elapsed, the operating mode is automatically terminated. If rvrtTms = 0
            (standard value), the operating mode remains active until a new command is received. </documentation>
        </annotation>
      </element>
      <element name="rmpTms" type="unsignedLong" minOccurs="0">
        <annotation>
          <documentation>specifies how quickly the changes should be made in seconds. The
            corresponding value is gradually changed from the old to the new value in the specified
            time. </documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="FlexAssistance">
    <sequence>
      <element name="assists" type="sgr:SGCPServiceType" />
      <element name="obligedTo" type="sgr:ObligLVlType" />
    </sequence>
  </complexType>


  <!--  generic Enumeration Definitions  -->
  <simpleType name="MeasuredValueType">
    <restriction base="string">
      <enumeration value="value" />
      <enumeration value="min" />
      <enumeration value="max" />
      <enumeration value="average" />
      <enumeration value="stdDev" />
    </restriction>
  </simpleType>
  <simpleType name="MeasuredValueSource">
    <annotation>
      <documentation>E0003</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="measuredValue" />
      <enumeration value="calculatedValue" />
      <enumeration value="empiricalValue" />
    </restriction>
  </simpleType>
  <simpleType name="PowerSource">
    <annotation>
      <documentation>E0004</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="unknown" />
      <enumeration value="mains1Phase" />
      <enumeration value="mains3Phase" />
      <enumeration value="battery" />
      <enumeration value="dc" />
    </restriction>
  </simpleType>
  <simpleType name="ReadyStateLV2">
    <annotation>
      <documentation>E0005 SG-Ready states according the German heatpump association bwp normal,
        intensified, EVU_LOCK, forced https://www.waermepumpe.de/normen-technik/sg-ready/ </documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="HP_NULL">
        <annotation>
          <documentation> value 0 is not vslid</documentation>
        </annotation>
      </enumeration>
      <enumeration value="HP_LOCKED">
        <annotation>
          <documentation> Locked operation for a maximum of 2 hours</documentation>
        </annotation>
      </enumeration>
      <enumeration value="HP_NORMAL">
        <annotation>
          <documentation>Normal operation, optimized according to customer requirements</documentation>
        </annotation>
      </enumeration>
      <enumeration value="HP_INTENSIFIED">
        <annotation>
          <documentation>Increased operation</documentation>
        </annotation>
      </enumeration>
      <enumeration value="HP_FORCED">
        <annotation>
          <documentation>Start command</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ReadyStateLV1">
    <annotation>
      <documentation>E0006 simple heat pump blocking association bwp normal,EVU_LOCK</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="HP_NORMAL">
        <annotation>
          <documentation> Normal operation, optimized according to customer requirements</documentation>
        </annotation>
      </enumeration>
      <enumeration value="HP_LOCK">
        <annotation>
          <documentation> Locked operation for a maximum of 2 hours</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SunspStateCodesType">
    <annotation>
      <documentation> E0007 : SunspecInvStates I_STATUS_OFF, I_STATUS_SLEEPING , I_STATUS_STARTING
        ,I_STATUS_MPPT , I_STATUS_THROTTLED, I_STATUS_SHUTING_DOWN ,I_STATUS_FAULT ,
        I_STATUS_STANDBY </documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="I_STATUS_OFF" />
      <enumeration value="I_STATUS_SLEEPING" />
      <enumeration value="I_STATUS_STARTING" />
      <enumeration value="I_STATUS_MPPT" />
      <enumeration value="I_STATUS_THROTTLED" />
      <enumeration value="I_STATUS_SHUTING_DOWN" />
      <enumeration value="I_STATUS_FAULT" />
      <enumeration value="I_STATUS_STANDBY" />
    </restriction>
  </simpleType>
  <simpleType name="SGrEVSEStateLv2Type">
    <annotation>
      <documentation> E0008 : 0:0 = EV_NORMAL, 0:1 = EV_REDUCED , 1:0 = EV_MINIMAL , 1:1 =
        EV_NONE_OR_FEEDIN </documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="EV_NORMAL" />
      <enumeration value="EV_REDUCED" />
      <enumeration value="EV_MINIMAL" />
      <enumeration value="EV_NONE_OR_FEEDIN" />
    </restriction>
  </simpleType>
  <simpleType name="EVSEStateLV1Type">
    <annotation>
      <documentation> E0009 : 0 = EV_NORMAL, 1 = EV_REDUCED</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="EV_NORMAL" />
      <enumeration value="EV_REDUCED" />
    </restriction>
  </simpleType>
  <simpleType name="SGCPLoadStateLV2Type">
    <annotation>
      <documentation> E0010 : 0:0 = LD_NORMAL, 0:1 = LD_REDUCED , 1:0 = LD_LOCKED , 1:1 = LD_MAX</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="LD_NORMAL" />
      <enumeration value="LD_REDUCED" />
      <enumeration value="LD_LOCKED" />
      <enumeration value="LD_MAX" />
    </restriction>
  </simpleType>
  <simpleType name="SGCPFeedInStateLV2Type">
    <annotation>
      <documentation> E0011 : 0:0 = FI_NORMAL, 0:1 = FI_REDUCED , 1:0 = FI_LOCKED , 1:1 = FI_MAX</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="FI_NORMAL" />
      <enumeration value="FI_REDUCED" />
      <enumeration value="FI_LOCKED" />
      <enumeration value="FI_MAX" />
    </restriction>
  </simpleType>
  <simpleType name="EVStateType">
    <annotation>
      <documentation>E0012 IEC EVSE_61851_State for Wallbox A: standby, B: vehicle detected, C:
        ready (charging), D: with ventilation, E: no power (shut off), F: error </documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="EV_STATE_NULL" />
      <enumeration value="EV_STANDBY" />
      <enumeration value="EV_DETECTED" />
      <enumeration value="EV_READY4CHARGING" />
      <enumeration value="EV_WITHFAN" />
      <enumeration value="EV_SHUTOFF" />
      <enumeration value="EV_ERROR" />
    </restriction>
  </simpleType>
  <simpleType name="SGCPServiceType">
    <annotation>
      <documentation> E0013: Assistance type of a reaction / function. This Attribute indicates the
        type of Flexibility Entity of the operation NET servicable: Operation for the benefit of a
        distribution network operator (DSO) SYS servicable: Operation of the total system operators
        (TSO) ENER servicable: Operation for energy optimization </documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="AT_NetServiceable" />
      <enumeration value="AT_SysServiceable" />
      <enumeration value="AT_EnerServiceable" />
    </restriction>
  </simpleType>
  <simpleType name="ObligLVlType">
    <annotation>
      <documentation>E0014: Obligation level of a reaction / function. SHALL: action is required
        SHOULD: action is strongly recommended MAY: action is permitted </documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="OL_SHALL" />
      <enumeration value="OL_SHOULD" />
      <enumeration value="OL_MAY" />
    </restriction>
  </simpleType>
  <simpleType name="OCPPStateType">
    <annotation>
      <documentation> E0015: Available (0): When a Connector becomes available for a new user
        (Operative) Charging (1): When the contactor of a Connector closes, allowing the vehicle to
        charge (Operative) Preparing(not yet observed ?): When a Connector becomes no longer
        available for a new user but no charging session is active. Typically a Connector is
        occupied when a user presents a tag, inserts a cable or a vehicle occupies the parking bay
        (Operative) Finishing(not yet observed ?): When a charging session has stopped at a
        Connector, but the Connector is not yet available for a new user, e.g. the cable has not
        been removed or the vehicle has not left the parking bay (Operative) Reserved(not yet
        observed ?): When a Connector becomes reserved as a result of a Reserve Now command
        (Operative) Unavailable(not yet observed ?): When a Connector becomes unavailable as the
        result of a Change Availability command or an event upon which the Charge Point transitions
        to unavailable at its discretion. Upon receipt of a Change Availability command, the status
        MAY change immediately or the change MAY be scheduled. When scheduled, the Status
        Notification shall be send when the availability change becomes effective (Inoperative)
        Faulted(not yet observed ?): When a Charge Point or connector has reported an error and is
        not available for energy delivery . (Inoperative). SuspendedEVSE (7): When the contactor of
        a Connector opens upon request of the EVSE, e.g. due to a smart charging restriction or as
        the result of StartTransaction.conf indicating that charging is not allowed (Operative)
        SuspendedEV(8): When the EVSE is ready to deliver energy but contactor is open, e.g. the EV
        is not ready. (Operative) </documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="Available" />
      <enumeration value="Charging" />
      <enumeration value="Preparing" />
      <enumeration value="Finishing" />
      <enumeration value="Reserved" />
      <enumeration value="Unavailable" />
      <enumeration value="Faulted" />
      <enumeration value="SuspendedEVSE" />
      <enumeration value="SuspendedEV" />
    </restriction>
  </simpleType>
  <simpleType name="HPOpModeType">
    <annotation>
      <documentation>E0016: Basic operation type of a heat pump Bereitschaft, Programm, Komfort,
        Eco, Warmwasser, Notbetrieb </documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="WP_EMERG_OP" />
      <enumeration value="WP_READY" />
      <enumeration value="WP_PROG_OP" />
      <enumeration value="WP_COMFORT_OP" />
      <enumeration value="WP_ECO_OP" />
      <enumeration value="WP_DOM_WATER_OP" />
      <enumeration value="WP_COOL_ACTIVE_OP" />
      <enumeration value="WP_COOL_PASSIVE_OP" />
    </restriction>
  </simpleType>
  <simpleType name="HCOpModeType">
    <annotation>
      <documentation>E0017: Basic operation type of a heat cool valve operation mode Bereitschaft,
        Programm, Komfort, Eco, Warmwasser, Kühlen </documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="HC_OFF" />
      <enumeration value="HC_READY" />
      <enumeration value="HC_PROG_OP" />
      <enumeration value="HC_COMFORT_OP" />
      <enumeration value="HC_ECO_OP" />
    </restriction>
  </simpleType>
  <simpleType name="CtaDomHotWOpModeType">
    <annotation>
      <documentation>Ecta001: Basic operation type of CTA Domestic Hot Water Heat Pump operation
        mode ON OFF Push temporary-off emergency-op </documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="DHW_NULL" />
      <enumeration value="DHW_ON" />
      <enumeration value="DHW_OFF" />
      <enumeration value="DHW_PUSH" />
      <enumeration value="DHW_TMP_OFF" />
      <enumeration value="DHW_EMERGENCY" />
    </restriction>
  </simpleType>
  <simpleType name="CtaHPOpStateType">
    <annotation>
      <documentation> Ecta002: BitRank (or enum?) map for CTA Heatpump status information #1 = Stand
        by #2 = Alarm Aus #3 = Ext. aus #4 = Aus Zeitlimite #5 = Aus Gesperrt (EW-Sperre) #6 =
        Manuell Aus #7 = Manueller Betrieb #8 = Startphase #9 = Stopp Phase #10 = Sicherh.
        Abschaltung #11 = Start Abtauphase #12 = Abtauphase #13 = Ende Abtauphase #14 = Gesperrt
        Druckd. Bei Start #15 = Kühlbetrieb aktiv #16 = Heizbetrieb aktiv #17 = Start nach VD
        Startfehler #18 = Aus Begrenzung aktiv #19 = Ol Rückführung aktiv </documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="HP_NULL" />
      <enumeration value="HP_STANDBY" />
      <enumeration value="HP_ALARM_OFF" />
      <enumeration value="HP_EXTERNAL_OFF" />
      <enumeration value="HP_TIMEOUT_OFF" />
      <enumeration value="HP_DSO_OFF" />
      <enumeration value="HP_MANUAL_OFF" />
      <enumeration value="HP_MANUAL_OP" />
      <enumeration value="HP_STARTING" />
      <enumeration value="HP_STOPPING" />
      <enumeration value="HP_SECURE_OFF" />
      <enumeration value="HP_START_DEFROST" />
      <enumeration value="HP_DEFROSTING" />
      <enumeration value="HP_DEFROST_END" />
      <enumeration value="HP_PRESSURE_DIFF" />
      <enumeration value="HP_COOLING" />
      <enumeration value="HP_HEATING" />
      <enumeration value="HP_COMP_START_ERR" />
      <enumeration value="HP_OFF_OUT_OF_LIMITS" />
      <enumeration value="HP_OIL_RECIRCUL_ACTIVE" />
    </restriction>
  </simpleType>
  <simpleType name="CtaHPOpModeType">
    <annotation>
      <documentation> Ecta003: map for CTA Heatpump HeatCool modes information #1 = WP in Stand by
        Modus #2 = Heizbetrieb aktiv #3 = Notbetrieb Heizen aktiv #4 = TWW Ladung aktiv #5 =
        Notbetrieb TWW aktiv #6 = Aktivkühlbetrieb aktiv #7 = Manueller Betrieb #8 =
        Heizungsspeicher Ladebetrieb ein #9 = Externer Betrieb ein #10 = Verteilkreis-ohne Puffer
        Betrieb #11 = Abtaubetrieb aktiv #12 = Kältegeführter Betrieb (Prozesskühlen) #13 = Reserve
        #14 = TWW Legio mit El. Einsatz K6 und parallel Heizungsbetrieb (Pufferladung) </documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="HP_NULL" />
      <enumeration value="HP_STANDBY" />
      <enumeration value="HP_HEATING_OP" />
      <enumeration value="HP_EMERG_HEATING_ACTIVE" />
      <enumeration value="HP_DOMHW_ACTIVE" />
      <enumeration value="HP_OMHW_EMERG_ACTIVE" />
      <enumeration value="HP_ACTIVE_COOLING_OP" />
      <enumeration value="HP_MANUAL_OP" />
      <enumeration value="HP_BUFFER_LOAD_ACTIVE" />
      <enumeration value="HP_EXTERNAL_CTRL" />
      <enumeration value="HP_DIRECT_DISTRIBUTION" />
      <enumeration value="HP_DEFROST_ACTIVE" />
      <enumeration value="HP_PASSIVE_COOLING_OP" />
      <enumeration value="HP_RESERVE" />
      <enumeration value="HP_COMBINDED_BUFFER_LOADING" />
    </restriction>
  </simpleType>
  <simpleType name="CtaHCOpModeType">
    <annotation>
      <documentation>Ecta004: map for CTA Heatpump HeatCool modes Automatik #1 Komfort #2 Reduziert
        #3 Frostschutz/Aus #4 Notbetrieb </documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="HP_NULL" />
      <enumeration value="HP_COMFORT" />
      <enumeration value="HP_ECO" />
      <enumeration value="HP_DEFROST" />
      <enumeration value="HP_EMERGENCY_OP" />
    </restriction>
  </simpleType>
  <simpleType name="HovHPOpModeType">
    <annotation>
      <documentation>Ehov1: map for Hoval H // #0=Wärmeerzeuger aus // #1=Automatikbetrieb //
        #4=Manueller Heizbetrieb // #5=Manueller Kühlbetrieb </documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="HP_OFF" />
      <enumeration value="HP_AUTOMATIC" />
      <enumeration value="HP_MAN_HEAT" />
      <enumeration value="HP_MAN_COOL" />
    </restriction>
  </simpleType>
  <simpleType name="HovHCOpModeType">
    <annotation>
      <documentation>Ehov2: map for Hoval H // #0=Standbybetrieb // #1=Woche 1 // #2=Woche 2 //
        #4=Konstant // #5=Sparbetrieb // #7=Handbetrieb Heizen // #8=Handbetrieb Kühlen </documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="HC_STANDBY" />
      <enumeration value="HC_PLAN_W1" />
      <enumeration value="HC_PLAN_W2" />
      <enumeration value="HC_CONSTANT" />
      <enumeration value="HC_ECO" />
      <enumeration value="HC_MAN_HEAT" />
      <enumeration value="HC_MAN_COOL" />
    </restriction>
  </simpleType>
  <simpleType name="HovSGReadySrcSelType">
    <annotation>
      <documentation>Ehov3: map for Hoval H #0=AUS #1=Eingangskontakte #2=Systembus #3=Verfügbare
        Leistung gedämpft </documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="SGR_src_OFF" />
      <enumeration value="SRC_src_CONTACTS" />
      <enumeration value="SRC_src_SysBUS" />
      <enumeration value="SRC_src_DAMPED" />
    </restriction>
  </simpleType>
  <simpleType name="HovBufferStateType">
    <annotation>
      <documentation> Ehov4: #0 = keine Anforderung, AUS #1 = Anforderung, Temp. tief, PLP aus
        (Entladeschutz) #2 = Anforderung, Ladung läuft #3 = Anforderung, Sollwert erfüllt, Nachlauf
        aktiv #4 = Anforderung, Sollwert erfüllt #6 = Energiezwang #7= Abschöpffunktion
        #Entladeregelung : #0 = keine Anforderung (WEZ-Freigabe) #2 = Anforderung, Sollwert nicht
        erfüllt, UPE steht Richtung WEZ bzw. YPEL regelt stetig auf PEF #3 = Anforderung
        UPE-Umschaltverzögerung, UPE/YPEL steht Richtung WEZ #4 = Anforderung, Sollwert erfüllt,
        UPE/YPEL steht Richtung Puffer #6 = Energiezwang #8 = Vorzugsbetrieb SmartGrid #9 =
        Abnahmezwang Smart Grid für Modi manuell heizen / kühlen </documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="BUF_OFF" />
      <enumeration value="BUF_REQ_PROTECTED" />
      <enumeration value="BUF_REQ_ACTIVE" />
      <enumeration value="BUF_REQ_FINALIZING" />
      <enumeration value="BUF_REQ_DONE" />
      <enumeration value="BUF_RES" />
      <enumeration value="BUF_FORCED" />
      <enumeration value="BUF_SKIMMING" />
      <enumeration value="BUF_INTENSIFIED_EXT" />
      <enumeration value="BUF_FORCED_EXT" />
    </restriction>
  </simpleType>
  <simpleType name="hovHCOpStateType">
    <annotation>
      <documentation> Ehov5: Zustand Heizkreisregelung #0 = Abgeschaltet #1 = Normal Heizbetrieb #2
        = Komfort Heizbetrieb #3 = Spar Heizbetrieb #4 = Frostbetrieb #5 = Zwangsabnahme (bei Zwang
        groesser +50p) #6 = Zwangsdrosselung (bei Zwang kleiner -50p) #7 = Ferienbetrieb #8 =
        Partybetrieb #9 = Normal Kuehlbetrieb #10 = Komfort K?hlbetrieb #11 = Spar Kuehlbetrieb #12
        = Stoerung #13 = Handbetrieb #14 = Schutz Kuehlbetrieb #15 = Partybetrieb Kuehlen #16 =
        Austrocknung Aufheizphase #17 = Austrocknung Stationaerphase #18 = Austrocknung Abkuehlphase
        #19 = Austrocknung Endphase #22 = Kuehlbetrieb Extern/Konstantanforderung #23 = Heizbetrieb
        Extern/Konstantanforderung #26 = Vorzugsbetrieb SmartGrid </documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="HC_OFF" />
      <enumeration value="HC_NORMAL_HEAT_OP" />
      <enumeration value="HC_COMFORT_HEAT_OP" />
      <enumeration value="HC_ECO_HEAT_OP" />
      <enumeration value="HC_DEFROST" />
      <enumeration value="HC_FORCED_OP" />
      <enumeration value="HC_FORCE_CURTAIL" />
      <enumeration value="HC_VACATION_OP" />
      <enumeration value="HC_PARTY_OP" />
      <enumeration value="HC_NORMAL_COOL_OP" />
      <enumeration value="HC_COMFORT_COOL_OP" />
      <enumeration value="HC_ECO_COOL_OP" />
      <enumeration value="HC_ERROR" />
      <enumeration value="HC_MANUAL_OP" />
      <enumeration value="HC_COOL_PROT" />
      <enumeration value="HC_PARTY_COOL_OP" />
      <enumeration value="HC_DRY_HEATING" />
      <enumeration value="HC_DRY_STATIONARY" />
      <enumeration value="HC_DRY_COOLING" />
      <enumeration value="HC_DRY_FINALIZING" />
      <enumeration value="HC_RES1" />
      <enumeration value="HC_RES2" />
      <enumeration value="HC_COOLING_EXT_CMD" />
      <enumeration value="HC_HEATING_EXT_CMD" />
      <enumeration value="HC_INTENSIFIED_EXT" />
    </restriction>
  </simpleType>
  <simpleType name="HovDomHotWOpModeType">
    <annotation>
      <documentation>Ehov6: Basic operation type of a Domestic Hot Water Heat Pump operation mode
        Standby week 1 week 2 Constant Eco mode </documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="DHW_STANDBY" />
      <enumeration value="DHW_SCHEDULE_1_OP" />
      <enumeration value="DHW_SCHEDULE_2_OP" />
      <enumeration value="DHW_CONST_OP" />
      <enumeration value="DHW_ECO_OP" />
    </restriction>
  </simpleType>
  <simpleType name="HovDomHotWStateType">
    <annotation>
      <documentation> Ehov7: Zustand Warmwasserregelung: #0 = Abgeschaltet #1 = Normal Ladebetrieb
        #2 = Komfort Ladebetrieb #3 = Zwangsdrosselung (bei E-Zwang kleiner -50p)#4 = Zwangsladung
        (bei E-Zwang groesser +50p) #5 = Stoerung #6 = WW-Entnahme (Entnahme von Trinkwarmwasser
        aktiv) #7 = Warnung #8 = Reduzierter Ladebetrieb #12 = Vorzugsbetrieb SmartGrid #13 =
        Abnahmezwang SmartGrid </documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="DHW_OFF" />
      <enumeration value="DHW_CHARGING" />
      <enumeration value="DHW_CHARGE_COMF" />
      <enumeration value="DHW_FORCED_CURTAIL" />
      <enumeration value="DHW_ERROR" />
      <enumeration value="DHW_WITHDRAWING" />
      <enumeration value="DHW_WARNING_ACTIVE" />
      <enumeration value="DHW_REDUCED" />
      <enumeration value="DHW_RES1" />
      <enumeration value="DHW_RES2" />
      <enumeration value="DHW_RES3" />
      <enumeration value="DHW_RES4" />
      <enumeration value="DHW_INTENSIFIED_EXT" />
      <enumeration value="DHW_FORCED_EXT" />
    </restriction>
  </simpleType>
  <simpleType name="HovHPOpStateType">
    <annotation>
      <documentation> Ehov8: #0=Abgeschaltet #1=Heizbetrieb #2=Vorlaufzeit Heizbetrieb #3=Extern
        gesperrt (auch bei SmartGrid Sperrbetrieb) #4=Kuehlbetrieb #5=Vorlaufzeit Kuehlbetrieb
        #15=Alarm #16=Stoerung #17=Blockiert #21=WFmax Abschaltung #22=WFsoll Abschaltung
        #26=Bivalenzabschaltung #27=Warmwasser Ladesperre #28=Minimale Auszeit #29=Minimale Einzeit
        #32=Nachlauf #33=Verzoegerung Folge WE #34=Betrieb Uebertemperatur #42=Manueller/Handebtrieb
        Heizen #43=Manueller/Handebtrieb Warmwasser #44=Manueller/Handebtrieb Kuehlen </documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="HP_OFF" />
      <enumeration value="HP_HEATING" />
      <enumeration value="HP_PREHEAT" />
      <enumeration value="HP_LOCK_EXTERN" />
      <enumeration value="HP_COOLING" />
      <enumeration value="HP_PRECOOL" />
      <enumeration value="HP_6" />
      <enumeration value="HP_7" />
      <enumeration value="HP_8" />
      <enumeration value="HP_9" />
      <enumeration value="HP_10" />
      <enumeration value="HP_11" />
      <enumeration value="HP_12" />
      <enumeration value="HP_13" />
      <enumeration value="HP_14" />
      <enumeration value="HP_ALARM" />
      <enumeration value="HP_ERROR" />
      <enumeration value="HP_BLOCKING" />
      <enumeration value="HP_18" />
      <enumeration value="HP_19" />
      <enumeration value="HP_20" />
      <enumeration value="HP_WFmax_SWITCHOFF" />
      <enumeration value="HP_WFset_SWITCHOFF" />
      <enumeration value="HP_23" />
      <enumeration value="HP_24" />
      <enumeration value="HP_25" />
      <enumeration value="HP_BIVALENCE_SWITCHOFF" />
      <enumeration value="HP_MIN_OFF_TIME" />
      <enumeration value="HP_MIN_ON_TIME" />
      <enumeration value="HP_30" />
      <enumeration value="HP_31" />
      <enumeration value="HP_TRAILING" />
      <enumeration value="HP_DELAY_AFTER_WE" />
      <enumeration value="HP_TEMPERATURE_HIGH_OP" />
      <enumeration value="HP_35" />
      <enumeration value="HP_36" />
      <enumeration value="HP_37" />
      <enumeration value="HP_38" />
      <enumeration value="HP_39" />
      <enumeration value="HP_40" />
      <enumeration value="HP_41" />
      <enumeration value="HP_" />
      <enumeration value="HP_MAN_OP_HEATING" />
      <enumeration value="HP_MAN_OP_DOM_HOT_WATER" />
      <enumeration value="HP_MAN_OP_COOLING" />
    </restriction>
  </simpleType>
  <simpleType name="HovType">
    <annotation>
      <documentation>Ehov8:</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="tbd" />
    </restriction>
  </simpleType>
  <complexType name="EnumListType">
    <choice>
      <element name="sgrMeasValueSource" type="sgr:MeasuredValueSource" />
      <element name="sgrPowerSource" type="sgr:PowerSource" />
      <element name="sgreadyStateLv2" type="sgr:ReadyStateLV2" />
      <element name="sgreadyStateLv1" type="sgr:ReadyStateLV1" />
      <element name="sgrSunspStateCodes" type="sgr:SunspStateCodesType" />
      <element name="sgrEVSEStateLv2" type="sgr:SGrEVSEStateLv2Type" />
      <element name="sgrEVSEStateLv1" type="sgr:EVSEStateLV1Type" />
      <element name="sgrSGCPLoadStateLv2" type="sgr:SGCPLoadStateLV2Type" />
      <element name="sgrSGCPFeedInStateLv2" type="sgr:SGCPFeedInStateLV2Type" />
      <element name="sgrEVState" type="sgr:EVStateType" />
      <element name="sgrSGCPService" type="sgr:SGCPServiceType" />
      <element name="sgrObligLvl" type="sgr:ObligLVlType" />
      <element name="sgrOCPPState" type="sgr:OCPPStateType" />
      <element name="sgrHPOpMode" type="sgr:HPOpModeType" />
      <element name="sgrHCOpMode" type="sgr:HCOpModeType" />
      <element name="ctaDomHotWOpMode" type="sgr:CtaDomHotWOpModeType" />
      <element name="ctaHPOpState" type="sgr:CtaHPOpStateType" />
      <element name="ctaHPOpMode" type="sgr:CtaHPOpModeType" />
      <element name="ctaHCOpMode" type="sgr:CtaHCOpModeType" />
      <element name="hovHPOpMode" type="sgr:HovHPOpModeType" />
      <element name="hovHCOpMode" type="sgr:HovHCOpModeType" />
      <element name="hovSGReadySrcSel" type="sgr:HovSGReadySrcSelType" />
      <element name="hovBufferState" type="sgr:HovBufferStateType" />
      <element name="hovHCOpState" type="sgr:hovHCOpStateType" />
      <element name="hovDomHotWOpMode" type="sgr:HovDomHotWOpModeType" />
      <element name="hovDomHotWState" type="sgr:HovDomHotWStateType" />
      <element name="hovHPOpState" type="sgr:HovHPOpStateType" />
    </choice>
  </complexType>
  <simpleType name="Bool2BitRankType">
    <annotation>
      <documentation>BM0001: BitRank map for bitfiedl32</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="Bit0" />
      <enumeration value="Bit1" />
      <enumeration value="Bit2" />
      <enumeration value="Bit3" />
      <enumeration value="Bit4" />
      <enumeration value="Bit5" />
      <enumeration value="Bit6" />
      <enumeration value="Bit7" />
      <enumeration value="Bit8" />
      <enumeration value="Bit9" />
      <enumeration value="Bit10" />
      <enumeration value="Bit11" />
      <enumeration value="Bit12" />
      <enumeration value="Bit13" />
      <enumeration value="Bit14" />
      <enumeration value="Bit15" />
      <enumeration value="Bit16" />
      <enumeration value="Bit17" />
      <enumeration value="Bit18" />
      <enumeration value="Bit19" />
      <enumeration value="Bit20" />
      <enumeration value="Bit21" />
      <enumeration value="Bit22" />
      <enumeration value="Bit23" />
      <enumeration value="Bit24" />
      <enumeration value="Bit25" />
      <enumeration value="Bit26" />
      <enumeration value="Bit27" />
      <enumeration value="Bit28" />
      <enumeration value="Bit29" />
      <enumeration value="Bit30" />
      <enumeration value="Bit31" />
    </restriction>
  </simpleType>
  <simpleType name="HPOpstateType">
    <annotation>
      <documentation>BM0002: BitRank map for interoperable Heat Pump</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="HP_PUMP_ON" />
      <enumeration value="HP_IN_HEATING_MODE" />
      <enumeration value="HP_IN_DHW_MODE" />
      <enumeration value="COMPRESSOR_RUNNING" />
      <enumeration value="COOLING_MODE_ACTIVE" />
      <enumeration value="IN_DEFROST_MODE" />
    </restriction>
  </simpleType>
  <simpleType name="HCOpStateType">
    <annotation>
      <documentation>BM0003: BitRank map for HeatPump HeatCoolState</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="HC_OFF" />
      <enumeration value="HC_HEAT" />
      <enumeration value="HC_HEAT_COMFORT" />
      <enumeration value="HC_HEAT_ECO" />
      <enumeration value="HC_DEFROST" />
      <enumeration value="HC_INTESIVIED_50p" />
      <enumeration value="HC_REDUCED_50p" />
      <enumeration value="HC_HOLIDAY" />
      <enumeration value="HC_PARTY_HEAT" />
      <enumeration value="HC_COOL" />
      <enumeration value="HC_COOL_COMFORT" />
      <enumeration value="HC_COOL_ECO" />
      <enumeration value="HC_ERROR" />
      <enumeration value="HC_MANUAL" />
      <enumeration value="HC_PROT_COOL" />
      <enumeration value="HC_PARTY_COOL" />
      <enumeration value="HC_DRYING_HEAT_UP" />
      <enumeration value="HC_DRYING_STATIONARY" />
      <enumeration value="HC_DRYING_COOL_DOWN" />
      <enumeration value="HC_DRYING_FINAL" />
      <enumeration value="HC_COOL_EXTERNAL_CMD" />
      <enumeration value="HC_HEAT_EXTERNAL_CMD" />
      <enumeration value="HC_SGRID_INTENSIVIED" />
    </restriction>
  </simpleType>
  <simpleType name="HovHPActBufferStateType">
    <annotation>
      <documentation> BMhov001: BitRank map for Heat Pump Buffer state source: Hoval (ER) means
        "Entladeregelung" Bit0 = keine Anforderung, AUS Bit0 = (ER) keine Anforderung (WEZ-Freigabe)
        Bit1 = Anforderung, Temp. tief, PLP aus (Entladeschutz) Bit2 = Anforderung, Ladung läuft
        Bit2 = (ER) Anforderung, Sollwert nicht erfüllt, UPE steht Richtung WEZ bzw. YPEL regelt
        stetig auf PEF Bit3 = Anforderung, Sollwert erfüllt, Nachlauf aktiv Bit3 = (ER) Anforderung
        UPE-Umschaltverzögerung, UPE/YPEL steht Richtung WEZ Bit4 = Anforderung, Sollwert erfüllt
        Bit4 = (ER) Anforderung, Sollwert erfüllt, UPE/YPEL steht Richtung Puffer Bit6 =
        Energiezwang Bit7= Abschöpffunktion Bit8 = (ER)Vorzugsbetrieb SmartGrid Bit9 =
        (ER)Abnahmezwang Smart Grid </documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="HPB_OFF" />
      <enumeration value="HPB_TEMP_LOW" />
      <enumeration value="HPB_RUNNING" />
      <enumeration value="HPB_RUN_HOLD" />
      <enumeration value="HPB_ON_TARGET" />
      <enumeration value="HPB_RESERVE" />
      <enumeration value="HPB_ENER_COMPULSION" />
      <enumeration value="HPB_SKIMMING" />
      <enumeration value="HPB_SGR_INTENSIVIED" />
      <enumeration value="HPB_SGR_FORCED_" />
    </restriction>
  </simpleType>
  <simpleType name="StiHPOpstateType">
    <annotation>
      <documentation>BMsti001: BitRank map for Heat Pump Stiebel-Eltron</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="HP_1_PUMP_ON" />
      <enumeration value="HP_2_PUMP_ON" />
      <enumeration value="HEATUP_PROGRAM" />
      <enumeration value="NHZ_STAGES_RUNNING" />
      <enumeration value="HP_IN_HEATING_MODE" />
      <enumeration value="HP_IN_DHW_MODE" />
      <enumeration value="COMPRESSOR_RUNNING" />
      <enumeration value="SUMMER_MODE_ACTIVE" />
      <enumeration value="COOLING_MODE_ACTIVE" />
      <enumeration value="MIN_ONE_IWS_IN_DEFROST_MODE" />
      <enumeration value="SILENT_MODE_1_ACTIVE" />
      <enumeration value="SILENT_MODE_2_ACTIVE" />
    </restriction>
  </simpleType>
  <complexType name="BitmapperListType">
    <annotation>
      <documentation>BMxxxx: Field of enumeration where endum index is used as bitmap flag Unsigned
        int value [and] ( 1 [2 * shift left] enum_index_value means bit is set </documentation>
    </annotation>
    <choice>
      <element name="sgrBool2BitRank" type="sgr:Bool2BitRankType" />
      <element name="sgrHPOpstate" type="sgr:HPOpstateType" />
      <element name="sgrHCOpstate" type="sgr:HCOpStateType" />
      <element name="hovHPActBufferState" type="sgr:HovHPActBufferStateType" />
      <element name="stiHPOpstate" type="sgr:StiHPOpstateType" />
    </choice>
  </complexType>
</schema>